.openlab-connections {
	.connections-settings {
		.connection-settings {
			display: flex;
			gap: 20px;
			position: relative;
			padding: 20px;
		}

		.primary-column {
			flex: 1;
		}

		.avatar-column {
			flex: 0 0 75px;

			.avatar {
				height: 75px;
				width: 75px;
			}
		}

		.connected-group-link {
			margin-bottom: 8px;
			margin-top: 0;
		}

		.info-line {
			color: #666;
			font-size: 12px;
			font-weight: normal;
			padding-top: 4px;
		}

		.disconnect-button {
			position: absolute;
			top: 20px;
			right: 20px;
		}

		.connection-setting {
			margin-bottom: 1em;
			padding-left: 10px;

			&.connection-setting-checkbox {
				margin-bottom: 0;
			}
		}

		label {
			font-weight: normal;
		}

		select {
			width: 80%;
		}

		.is-disabled label {
			opacity: .7;
		}

		.is-hidden {
			display: none;
		}

		.accordion-toggle {
			background: none;
			align-items: center;
			width: 100%;
			padding: 0;
			border: none;
			text-align: left;
			cursor: pointer;

			&:hover {
				.connection-settings-gloss-title {
					text-decoration: underline;
				}
			}

			&[aria-expanded="true"] {
				.accordion-caret:after {
					content: "\f146";
				}
			}
		}

		.accordion-content {
			display: none;
			padding: 10px;
		}

		.accordion-caret {
			display: inline-block;
			margin-left: auto;
			height: 16px;
			width: 16px;
			font-size: 16px;

			&::after {
				content: "\f0fe";
				font-family: "FontAwesome";
			}
		}
	}

	.connection-privacy-notices {
		border: 2px solid #f7e700;
		border-radius: 4px;
		margin: 1em 0;
		padding: 10px;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.connection-settings-gloss-title {
		font-weight: bold;
	}

	.group-list {
		margin-top: 10px;
		.group-item-wrapper {
			height: auto;
		}
	}

	.connection-invitations {
		display: flex;
		flex-direction: column;

		.actions {
			flex: 0 0 50px;

			a {
				text-decoration: none;
			}
		}

		&.pending-invitations .actions {
			flex: 1;
		}

		.group {
			flex-grow: 1;
		}

		.sent, .received {
			flex: 0 0 150px;
		}

		.delete-invite {
			&::after {
				content: "\f014";
				font-family: "FontAwesome";
				font-size: 18px;
			}

			&:hover {
				text-decoration: none;

				&::after {
					content: "\f1f8";
				}
			}
		}
	}

	.connection-invitation {
		display: flex;
		align-items: center;
		padding: 10px;
		border-bottom: 1px solid #ccc;
	}

	.connection-invitation-header {
		font-weight: bold;
	}
}

body.connections {
	ul.ui-autocomplete {
		background: #fff;
		border: 1px solid #333;
		list-style-type: none;
		max-width: 50%;
		padding: 15px;
	}

	.ui-menu-item-wrapper {
		padding: 6px;
	}
}
